.container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  /*padding: 0 10px;*/
  margin: 0 0 10px 0;
}
