.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--colorBlueGreen);
    color: white;
}

.container h3 {
    margin: 0;
    font-size: 1.2rem;
}