.container {
  width: 100%;
  max-height: 279px;
  display: flex;
  overflow: hidden;
}
.img {
  min-width: 400px;
  background-color: purple;
  flex-shrink: 0;
}
.text {
  flex-grow: 1;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
}
