.post_info {
    display: flex;
    height: 30px;
}

.cover_wrap {
    position: relative;
    top: 0;
    left: 0
}

.post_info p {
    margin-right: 30px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tag {
    margin-right: 30px;
    font-weight: 500;
}

.tag:nth-last-child(1) {
    margin-right: 0;
}

.tittle {
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
}

.cover_author {
    position: absolute;
    bottom: 30px;
    right: 0;
    z-index: 2;
    background: rgba(255, 255, 255, .6);
    backdrop-filter: blur(2px);
    padding: 2px;
}

@media only screen and (max-width:728px) {
    .post_info time {
        font-size: 1rem
    }
}