.main {
  display: flex;
  flex-direction: column;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1000px 300px 1fr;
  grid-template-rows: minmax(150px, 200px) auto 100px;
  grid-template-areas:
    "header header header header"
    ". main aside ."
    "footer footer footer footer";
}

.item_a {
  grid-area: header;
}

.item_b {
  grid-area: main;
}

.item_c {
  grid-area: aside;
}

.item_d {
  grid-area: footer;
}
